<div id="form-1">
	<%= form_for(@tipo_comunicacao) do |f| %>
	<% if @tipo_comunicacao.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@tipo_comunicacao.errors.count, "error") %> prohibited this tipo_comunicacao from being saved:</h2>

		<ul>
			<% @tipo_comunicacao.errors.full_messages.each do |message| %>
			<li>
				<%= message %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>

</div>

<div class="row">
	<div class="col-lg-7" >
		<%= f.text_field :analise_privacidade_id, :value => @tipo_comunicacao.analise_privacidade.id %>
		<!--colmeia-->
		<div class="panel">
			<div class="panel-body">
				<div id="comunicacao-1" class="container-grafico"></div>
			</div>
		</div>
		<!--legenda-->
		<div class="panel">
			<div class="panel-body">
				<div id="container-legenda-edit" class="container-grafico"></div>
			</div>
		</div>
	</div>



	<div class="col-lg-5" >
		
		<div id="nome_tipo_comunicacao" class="field">
				<%= f.label :tipo_comunicacao, :value=>"Nome da comunicação" %>
				<%= f.text_field :tipo_comunicacao, :class=>"form-control" %>
		</div>
		
		<div id="forms-colmeia">
				
			<div id="accordion" role="tablist" aria-multiselectable="true">

				<div class="panel panel-info">
				<%= f.fields_for :modelagem_privacidades do |builder| %>
				
					<div class="panel-heading" role="tab" id=<%="heading-"+(builder.index + 1).to_s%> >
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href=<%="#collapse-"+(builder.index + 1).to_s%> aria-expanded="true" aria-controls=<%="collapse-"+(builder.index + 1).to_s%>> 
								<%= Dimensao.where(:id => (builder.index + 1)).pluck(:nome_dimensao).first %>
								<br />
								<%= builder.hidden_field :dimensao_id, :value => (builder.index + 1)  %> 
							</a>
						</h4>
					</div>
					<div id=<%="collapse-"+(builder.index + 1).to_s%> class="panel-collapse collapse" role="tabpanel" aria-labelledby=<%="heading-"+(builder.index + 1).to_s%>>
					<div class="panel-body">
						<div class="col-lg-6" >
							<div class="input-group">
								<%= builder.label :tipo_comunicacao_id %>
								<%= builder.text_field :tipo_comunicacao_id, :value => (builder.index + 1) %>
							</div>
						</div>
						<div class="col-lg-6" >
							<div class="input-group">
								<%= builder.label :controle_privacidade_id %>
								<%= builder.collection_select(:controle_privacidade_id, ControlePrivacidade.all, :id, :controle) %>
							</div>
						</div>
					</div>	
				</div>
				<% end %>
			</div>
			</div>
		</div>
	</div>
	<div class="col-lg-5" >
			<div class="field">
				<%= f.label :observacao, :value=>@tipo_comunicacoes.class %>
				<br>
				<%= f.text_area :observacao, :class=>"form-control", :rows=>"5"  %>
			</div>
		</div>
</div>
<div class="row">
	<div class="col-lg-6" >
		<div id="options-form" class="actions">
			<%= link_to 'Voltar', tipo_comunicacoes_path(@tipo_comunicacao.analise_privacidade.id), :class=>"btn btn-default" %>
		</div>
	</div>
	<div class="col-lg-6" >
		<div id="options-form" class="actions">
			<%= f.submit 'Salvar', :class=>"btn btn-primary pull-right" %>
		</div>
	</div>
	<% end %>
</div>
