<p id="notice"><%= notice %></p>

<h1>Listing Tipo Comunicacoes</h1>

<table>
  <thead>
    <tr>
      <th>Analise privacidade</th>
      <th>Tipo comunicacao</th>
      <th>Observacao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipo_comunicacoes.each do |tipo_comunicacao| %>
      <tr>
        <td><%= tipo_comunicacao.Analise_Privacidade %></td>
        <td><%= tipo_comunicacao.tipo_comunicacao %></td>
        <td><%= tipo_comunicacao.observacao %></td>
        <td><%= link_to 'Show', tipo_comunicacao %></td>
        <td><%= link_to 'Edit', edit_tipo_comunicacao_path(tipo_comunicacao) %></td>
        <td><%= link_to 'Destroy', tipo_comunicacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipo comunicacao', new_tipo_comunicacao_path %>
