<div class="row">
	<div class="col-lg-12">
		<p id="notice"><%= notice %></p>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		
		<div class="panel panel-info">
			<div class="panel-heading text-center"
				<h4 class="panel-i"><strong><%= @analise_privacidade.rede_social %></strong></h4>
			</div>
			<div class="panel-body">

				<p id="notice"><%= notice %></p>
	
				<p>
				  <strong>URL da rede social:</strong>
				  <%= @analise_privacidade.url_rede_social %>
				</p>
				
				<p>
				  <strong>Descrição da análise:</strong>
				  <%= @analise_privacidade.descricao_analise %>
				</p>
				
				<br/>
				
				<ol>
					<% for comunicacao in @analise_privacidade.tipo_comunicacoes %>
						
						<li><%= comunicacao.tipo_comunicacao %></li>
					
					<% end %>
				</ol>
				
				
				<%= link_to 'Tipos de Comunicação', tipo_comunicacoes_path(@analise_privacidade), :class=>"text-right" %>			
			</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="col-md-offset-2 col-md-4" >
		<div id="options-form" class="actions">
			<%= link_to 'Voltar',  analise_privacidades_path, :class=>"btn btn-default" %>
		</div>
	</div>
	<div class="col-md-4">
		<div id="options-form" class="actions">
			<%= link_to 'Editar', edit_analise_privacidade_path(@analise_privacidade), :class=>"btn btn-primary pull-right" %>
		</div>
	</div>
</div>

