<div class="row">
	<div class="col-lg-12">
		<p id="notice"><%= notice %></p>
	
		<h1>Visualização da Análise</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		
		<div class="panel panel-default">
			<div class="panel-heading text-center"
				<h4 class="panel-title"><strong><%= @analise_privacidade.rede_social %></strong></h4>
			</div>
			<div class="panel-body">

				<p id="notice"><%= notice %></p>
	
				<p>
				  <strong>URL da rede social:</strong>
				  <%= @analise_privacidade.url_rede_social %>
				</p>
				
				<p>
				  <strong>Descrição da análise:</strong>
				  <%= @analise_privacidade.descricao_analise %>
				</p>
				
				<br/>
				
				<ol>
					<% for comunicacao in @analise_privacidade.tipo_comunicacoes %>
						
						<li><%= comunicacao.tipo_comunicacao %></li>
					
					<% end %>
				</ol>
				
				
				
				
				<%= link_to 'Tipos de Comunicação', tipo_comunicacoes_path, :class=>"text-right" %>
				<%= link_to 'Editar', edit_analise_privacidade_path(@analise_privacidade) %> |
				<%= link_to 'Voltar', analise_privacidades_path %>
				
			</div>
		</div>
		
	</div>
</div>
