
	
	<div class="row">
	<div class="col-lg-6">
		<p id="notice"><%= notice %></p>
		
		<%= link_to 'Nova Comunicação', new_modelagem_privacidade_path, :class=>"btn-lg btn-success action link" %>
		
		<h1>Minhas Modelagens de Privacidade</h1>
		
	</div>	
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="card-box">

		<p id="notice"><%= notice %></p>

		<div class="table-responsive">
			
			<table class="table">
			  <thead>
			    <tr>
			      <th>Dimensoes</th>
			      <th>Valor dimensoes</th>
			      <th>Controle privacidades</th>
			      <th>Tipo comunicacoes</th>
			      <th colspan="3"></th>
			    </tr>
			  </thead>
			
			  <tbody>
			    <% @modelagem_privacidades.each do |modelagem_privacidade| %>
			      <tr>
			        <td><%= modelagem_privacidade.dimensoes_id %></td>
			        <td><%= modelagem_privacidade.id %></td>
			        <td><%= modelagem_privacidade.controle_privacidades_id %></td>
			        <td><%= modelagem_privacidade.tipo_comunicacoes_id %></td>
			        <td><%= link_to 'Show', modelagem_privacidade %></td>
			        <td><%= link_to 'Edit', edit_modelagem_privacidade_path(modelagem_privacidade) %></td>
			        <td><%= link_to 'Destroy', modelagem_privacidade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
		
		
	</div>
</div>


<p>ta tudo comentado</p>
